@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@500&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


/* body styles */

body {
    font-family: 'Poppins';
}


/* carousel styles */

.button {
    font-weight: 700;
    color: #3F87F5;
}

.bright {
    filter: brightness(50%);
}


/* services styles */

.services {
    margin-top: 100px;
}


/* pricing styles */

.fonts {
    font-family: 'Roboto';
    font-weight: 700;
}

.diff_clr {
    color: #848199;
}


/* prices styles */

.prices {
    margin-top: 10%;
}

.prices_button {
    font-weight: 700;
    color: #3F87F5;
    background-color: #f496d259;
}

.hot {
    position: relative;
    bottom: 30px;
    transform: scale(1.1);
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    color: white;
}

#white {
    color: #3F87F5;
    background-color: white;
}


/* Frequently asked questions styles */

#weight {
    font-weight: 600;
}

.faq {
    font-family: 'Inter';
}